/* You can add global styles to this file, and also import other style files */
body{
    // font-family: 'Roboto Mono', monospace;
    font-family: 'Merriweather Sans', sans-serif;
}
.center {
    margin: auto;
    width: 60%;
    background: #eee;
    padding: 10px;
    text-align: center;
}

.wrapper{
    background: #eee;
    padding: 1em;
}

.center-text{
    text-align: center;
}

input{
      width: 60%;
      height: 25px;
      margin: 0 auto;
      border:solid 1px #ccc;
      border-radius: 10px;
      text-indent: 10px;
}
