<h1>Weather Application</h1>
<button (click)="getPosts()">Get Weather Data</button>

<div *ngIf="posts$ | async as post">
        <!-- <input type="search">
        <input type="submit"> -->
        <!-- <input #box (keyup.enter)="onEnter(box.value)"> -->
        <app-city-searcher (messageEvent)="receiveMessage($event)"></app-city-searcher>
        <h1>{{post.name}}</h1>
        <h2>Temperature: {{post.main.temp}}</h2>
        <h2>Pressure: {{post.main.pressure}}</h2>
        <h2>Humidity: {{post.main.humidity}}</h2>
        <h2>Temperature Min: {{post.main.temp_min}}</h2>
        <h2>Temperature Max: {{post.main.temp_max}}</h2>
</div>
<h3>{{location.latitude}}</h3>
<!-- <div *ngIf="posts$ | async as post">
        <h1>{{post.sys.name}}</h1>
</div> -->
<router-outlet></router-outlet>