<h1>Weather Application</h1>
<button (click)="getPosts()">Get Weather Data</button>

<div *ngIf="posts$ | async as post">
        <!-- <input type="search">
        <input type="submit"> -->
        <!-- <input #box (keyup.enter)="onEnter(box.value)"> -->
        <app-city-searcher (messageEvent)="receiveMessage($event)"></app-city-searcher>
        <h1>{{post.name}}</h1>
    {{post | json}}
</div>
<h3>{{location.latitude}}</h3>
<!-- <div *ngIf="posts$ | async as post">
        <h1>{{post.sys.name}}</h1>
</div> -->
<router-outlet></router-outlet>